{% include 'header.twig' %}
  <body>
    <div class="container">      
        <h1>Backgammon</h1>
        <p>Project van school bla bla</p>
        <p>Nog meer bla bla</p>
        <p>Om te spelen moet je eerst registreren.</p>
        {% include 'register/form.twig' %}
    </div>
{% include 'footer.twig' %}

