{% include 'header.twig' %}
  <body>
    <div class="container">      
        <h1>Registreer</h1>
        <p>Registreer on backgammon te spelen</p>
        {% include 'register/form.twig' %}
    </div>
{% include 'footer.twig' %}

